body {
  background-color: #eee;
}

header {
  height: 64px;
  line-height: 64px;
  background-color: white;
}

h1 {
  display: inline-block;
  font-size: 1.6em;
  margin: 0 24px;
}
navigator {
  display: inline-block;
}

navigator ul {
  display: flex;
  flex-direction: row;
}
navigator ul li {
  margin-left: 16px;
  cursor: pointer;
}
navigator ul li.selected,
navigator ul li:hover {
  color: dodgerblue;
  text-decoration: underline;
}

main {
  height: calc(100vh - 64px);
  overflow: hidden;
}